@font-face {
    font-family: 'Flappy';
    src: url('fonts/FlappyBirdRegular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    font-family: 'Flappy', Arial, sans-serif;
    margin: 0;
}

#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    background-color: #ace5d4;
    background-image: url('images/background.gif');
    background-repeat: repeat-x;
    background-size: 40% 65%;
    background-position: bottom;
    font-size: 70px;
    color: cadetblue;
}
#container h1{
    font-weight: normal;
}
#container button{
	padding: 10px 20px;
	font-family: 'Flappy';
	font-size: 40px;
	background-color: #ace5d4;
	color: cadetblue;
	border: 1px solid cadetblue;
	border-radius: 8px;
	cursor: pointer;
}
#container button:hover{
    background-color: cadetblue;
    color: #ace5d4;
}

#score{
    position: absolute;
    top: 15px;
    font-size: 72px;
    color: cadetblue;
    z-index: 10;
}

#player{
	position: absolute;
	width: 100px;
	left: 10%;
	bottom: 6%;
	z-index: 20;
    animation-play-state: paused;
}
.hop{
    animation: hop 0.8s ease-in-out;
}

.obstacle{
	position: absolute;
    width: 80px;
	z-index: 20;
    right: -80px;
	bottom: 8%;
    animation: move-obstacle 2.5s ease-in;
}
.menu{
    position: absolute;
    text-align: center;
    z-index: 30;
}

#home{
    top: 20%;
}

@keyframes move-obstacle{
    0%{
        right: -80px;
    }
    100%{
        right: 100%;
    }
}
@keyframes hop{
    0%{
        bottom: 6%;
    }
    50%{
        bottom: 40%;
    }
    100%{
        bottom: 6%;
    }
}


.hidden{
    display: none;
}